version: '3.9'
services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181


  kafka:
    image: wurstmeister/kafka
    ports:
      - "${KAFKA_PORT1}:${KAFKA_PORT1}"
      - "${KAFKA_PORT2}:${KAFKA_PORT2}"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_HOST_NAME: ${HOST_IP}
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: INSIDE://kafka:${KAFKA_PORT2},OUTSIDE://${HOST_IP}:${KAFKA_PORT1}
      KAFKA_LISTENERS: INSIDE://0.0.0.0:${KAFKA_PORT2},OUTSIDE://0.0.0.0:${KAFKA_PORT1}
      KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CREATE_TOPICS: "${KAFKA_TOPIC1}:1:1,${KAFKA_TOPIC2}:1:1:compact" 


  postgres:
    image: postgres:latest
    hostname: postgres
    environment:
      POSTGRES_DB: ${PG_DATABASE}
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
    volumes:
      - ./sql_script:/docker-entrypoint-initdb.d
    ports:
      -  ${PG_PORT}:${PG_PORT}